<launch>
<!--<group ns="servobus/left" >
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
      <param name="port" value="/dev/ttyACM0"/>
      <param name="baud" value="57600"/>
  </node>
</group>-->

 <!--<group ns="servobus/left" >
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
      <param name="port" value="/dev/ttyACM1"/>
      <param name="baud" value="57600"/>
  </node>
</group>-->


<node name="vision" pkg="bernado_tools" type="initiate_vision_process.py" output="screen" >
</node>

<!--<node name="sound_play" pkg="sound_play" type="soundplay_node.py" output="screen">
</node>-->


<!--<node name="speech" pkg="bernado_tools" type="read_input_mic.py" output="screen">
</node>-->

<!--node name="trainer" pkg="bernado_tools" type="trainer.py" output="screen">
</node>-->


</launch>
